# placeholder for now until I figure out how to install dependencies
fs9721
Adafruit-Motor-Hat-Python-Library

Notes: 
Read Documentation for PIP
Read Documentation for PYPI
Virtual Environment?
Virtualenv w/ virtualenvwrapper? (Python 2fruit& 3)
or
Venv? (Python 3 only)
